<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to ExOrT</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">ExOrT</a>
        </nav>
        <div class="fluid-container">
            <br/>
            <br/>
            <div class="row">
                <div class="col-12 col-offset-6 text-center">
                    <img src="icon.png" width="192px" height="192px">
                    <br/>
                    <h4 class="text-secondary">Extended Organization Timetable</h4>
                    <h4>协助管理您和您的朋友的时间表</h4>
                    <br/>
                    <a href="/timetable/0/0">Let's Jam</a>
                </div>
            </div>
        </div>
    </body>
</html>