<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>ExOrT -- Timetable</title>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">ExOrT</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">时间表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">任务管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">角色管理</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="fluid-container">
            <br/>
            <h4 th:text="${year} + '年, 第' + ${week} + '周'"/>
            <br/>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"/>
                        <th scope="col">
                            星期一<br/>
                            <small th:text="${date0}"/>
                        </th>
                        <th scope="col">
                            星期二<br/>
                            <small th:text="${date1}"/>
                        </th>
                        <th scope="col">
                            星期三<br/>
                            <small th:text="${date2}"/>
                        </th>
                        <th scope="col">
                            星期四<br/>
                            <small th:text="${date3}"/>
                        </th>
                        <th scope="col">
                            星期五<br/>
                            <small th:text="${date4}"/>
                        </th>
                        <th scope="col">
                            星期六<br/>
                            <small th:text="${date5}"/>
                        </th>
                        <th scope="col">
                            星期日<br/>
                            <small th:text="${date6}"/>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="time, stat : ${timeline}">
                        <td th:text="${time}" scope="row"/>

                        <td th:id="'grid' + ${stat.index * 7}"/>
                        <td th:id="'grid' + ${stat.index * 7 + 1}"/>
                        <td th:id="'grid' + ${stat.index * 7 + 2}"/>
                        <td th:id="'grid' + ${stat.index * 7 + 3}"/>
                        <td th:id="'grid' + ${stat.index * 7 + 4}"/>
                        <td th:id="'grid' + ${stat.index * 7 + 5}"/>
                        <td th:id="'grid' + ${stat.index * 7 + 6}"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>